@import 'tailwindcss';

@layer components {
  html {
    scrollbar-gutter: stable;
    scrollbar-width: thin; /* Firefox */
  }

  html::-webkit-scrollbar {
    width: 6px; /* Chrome, Edge, Safari */
  }
}